<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.93/Build/Cesium/Cesium.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link
      href="https://cesium.com/downloads/cesiumjs/releases/1.93/Build/Cesium/Widgets/widgets.css"
      rel="stylesheet"
    />
    <title>Cesium</title>
    <style>
      .info-table{
        position : fixed;
        top : 10px;
        z-index : 99;
      }
      table.darkTable {
        font-family: 'Space Mono', monospace;
        border: 4px solid #000000;
        background-color: #4A4A4A;
        width: 400px;
        height: 150px;
        text-align: center;
        border-collapse: collapse;
      }
      table.darkTable td, table.darkTable th {
        border: 2px solid #1B1315;
        padding: 3px 3px;
      }
      table.darkTable tbody td {
        font-size: 13px;
        color: #E6E6E6;
      }
      table.darkTable tr:nth-child(even) {
        background: #888888;
      }
      table.darkTable thead {
        background: #000000;
        border-bottom: 4px solid #000000;
      }
      table.darkTable thead th {
        font-size: 15px;
        font-weight: bold;
        color: #E6E6E6;
        text-align: center;
        border-left: 0px solid #4A4A4A;
      }
      table.darkTable thead th:first-child {
        border-left: none;
      }
      
      table.darkTable tfoot td {
        font-size: 12px;
      }
      #cesiumContainer{
        position : fixed;
        width: 90%;
        height: 90%;
        z-index : 1;
      }
      .container{
        position : relative;
      }
    </style>  
  </head>
  <body>
      <div class="container">
      

    
      <div id="cesiumContainer"></div>
      <div id="toolbar"></div>
      <div class="info-table">
        <table class="darkTable">
          <thead>
          <tr>
          <th colspan="5">Location <span class="display-status"></span></th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <td>Date</td>
          <td>Height</td>
          <td>Latitude</td>
          <td>Longtitude</td>
          <td>Velocity</td>
          </tr>
          <tr>
          <td><p class="display-time"></td>
          <td><p class="display-height"></td>
          <td><p class="display-lat"></td>
          <td><p class="display-long"></td>
          <td><p class="display-velocity"></td>
          </tr>
          </tbody>
        </table>
      </div>
      </div>
    <script>
      // Your access token can be found at: https://cesium.com/ion/tokens.
      // This is the default access token from your ion account


      Cesium.Ion.defaultAccessToken =
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwZjhmYzkzOS1jNzI3LTQyZTQtYWJhYS00NGM0MDkxZjRkNmEiLCJpZCI6OTU5MTksImlhdCI6MTY1NDA1MjA1N30.zYK1AbmYJRYuMrU9-YayuYw8j96IEKkvpOmMjGsvr_8";

      // STEP 4 CODE (replaces steps 2 and 3)
      // Keep your `Cesium.Ion.defaultAccessToken = 'your_token_here'` line from before here.

      // Render Cesium Map
      const viewer = new Cesium.Viewer("cesiumContainer", {
        terrainProvider: Cesium.createWorldTerrain(),
        geocoder: false,
        fullscreenButton: false,
        navigationHelpButton: false,
      });
      const osmBuildings = viewer.scene.primitives.add(
        Cesium.createOsmBuildings()
      );

      // Pan Camera to Thailand by new Cesium.Rectangle(west, south, east, north)
      Cesium.Camera.DEFAULT_VIEW_RECTANGLE = Cesium.Rectangle.fromDegrees(63.076400,-31.700130,139.064604,52.234528);
      document.getElementById("animation_pathClock").style.display= "none";
      document.querySelector("#animation_pathWingButton.cesium-animation-buttonMain").style.display= "none";
      //Disable Columbus View
      document.querySelector("#cesiumContainer > div > div.cesium-viewer-toolbar > span.cesium-sceneModePicker-wrapper.cesium-toolbar-button > button:nth-child(4)").style.display = 'none';

      $(".cesium-baseLayerPicker-item").eq(3).css("display","none");
      $(".cesium-baseLayerPicker-item").eq(4).css("display","none");
      {% comment %} var credit = new Cesium.Credit(
        '<a href="https://www.facebook.com/" target="_blank"><img src="https://sv1.picz.in.th/images/2022/06/09/VWcK1R.png" style=" width:70px; height=40px; margin=200px; " title="Zircon"/> </a>'
      );
      
     
      //document.querySelector("#cesium-viewer-bottom").style.display= "none";
      viewer.scene.frameState.creditDisplay.addDefaultCredit(credit); {% endcomment %}
      {% comment %} $(document).ready(function() {
        $("#cesium-credit-textContainer").css({"display":"none"});
      }); {% endcomment %}

      // Edit Logo Here !!!
      
      $(".cesium-widget-credits").html('<div style="display: inline;"><img title="AstroLab" src="https://sv1.picz.in.th/images/2022/06/09/VWcK1R.png" width="120" height="50" ></div>');

      // Animate of data ex.1s per lat long
      const dataset = "{{data.dataset}}";
      // Regex get float data
      let re = /[\-| ][0-9]+\.[0-9]+/gm;
      let result = dataset.match(re);
      let index = 0;
      var latitude = [];
      var longitude = [];
      var height = [];
      var vx = [];
      var vy = [];
      var vz = [];

      //console.log({{data.msg_epoch}})
      for (let l = 0; l < result.length; l++) {
        if (index === 3) {
          // push lat data
          vx.push(parseFloat(result[l]));
        }
        if (index === 4) {
          // push lat data
          vy.push(parseFloat(result[l]));
        }
        if (index === 5) {
          // push lat data
          vz.push(parseFloat(result[l]));
        }

        if (index === 6) {
          // push height data
          height.push(parseFloat(result[l]) * 1000);
        }
        if (index === 7) {
          // push lat data
          latitude.push(parseFloat(result[l]));
        }
        if (index === 8) {
          // push long data
          longitude.push(parseFloat(result[l]));
        }

        index++;
        if (index > 8) {
          index = 0;
        }
      }

      // Regex Date and Format to ISO Format ex.2019-01-01T00:00:00.000Z
      let reTime = /\d{4}\/\d\d\/\d\d\s\d\d:\d\d:\d\d\.\d*/gm;
      let resultTime = dataset.match(reTime);
      let datetime = resultTime[0].replace(/\//g,"-").replace(/\s/g,"T") + "Z";
      //console.log(new Date(datetime).toISOString())
      var entityPosition = [];

      for (let k = 0; k < latitude.length; k++){
        entityPosition.push({
          lat : latitude[k],
          long : longitude[k],
          alt : parseFloat(height[k]/1000).toFixed(2),
          ti : Cesium.JulianDate.fromIso8601(resultTime[k].replace(/\//g,"-").replace(/\s/g,"T") + "Z"),
          velocity : Math.sqrt(Math.pow(vx[k], 2)+Math.pow(vy[k], 2)+Math.pow(vz[k], 2))
        });
        
      }

      //console.log(entityPosition)
      
      const timeStepInSeconds = 1;
      const totalSeconds = timeStepInSeconds * latitude.length + 1000;
      const start = Cesium.JulianDate.fromIso8601(datetime);
      const stop = Cesium.JulianDate.addSeconds(
        start,
        totalSeconds,
        new Cesium.JulianDate()
      );
      viewer.clock.startTime = start.clone();
      viewer.clock.stopTime = stop.clone();
      viewer.clock.currentTime = start.clone();
      viewer.timeline.zoomTo(start, stop);
      // Speed up the playback speed 50x.
      viewer.clock.multiplier = 1;
      // Start playing the scene.
      viewer.clock.shouldAnimate = true;

      // The SampledPositionedProperty stores the position and timestamp for each sample along the radar sample series.
      const positionProperty = new Cesium.SampledPositionProperty();

      for (let i = 0; i < latitude.length; i++) {
        //const dataPoint = result[i];
        // Declare the time for this individual sample and store it in a new JulianDate instance.
        const time = Cesium.JulianDate.addSeconds(
          start,
          i * timeStepInSeconds,
          new Cesium.JulianDate()
        );
        const position = Cesium.Cartesian3.fromDegrees(
          longitude[i],
          latitude[i],
          height[i]
        );

        // Store the position along with its timestamp.
        // Here we add the positions all upfront, but these can be added at run-time as samples are received from a server.
        positionProperty.addSample(time, position);

        {% comment %} viewer.entities.add({
          name: "Location",
          description:
            `<table class="cesium-infoBox-defaultTable"><tbody><tr><th>Latitude : </th> <th> ${latitude[i]}</th></tr>` +
            `<tr><th>Longitude : </th><th>${longitude[i]}</th></tr>` +
            `<tr><th>Height : </th><th>${parseFloat(height[i] / 1000).toFixed(
              2
            )} km.</th></tr>`,
          position: position,
          point: { pixelSize: 5, color: Cesium.Color.RED },
        }); {% endcomment %}

      }

      // STEP 6 CODE (object entity)

      async function loadModel() {
        // Load the glTF model from Cesium ion.
        const objectUri = await Cesium.IonResource.fromAssetId(1111699);
        const objectEntity = viewer.entities.add({
          availability: new Cesium.TimeIntervalCollection([
            new Cesium.TimeInterval({ start: start, stop: stop }),
          ]),
          position: positionProperty,
          // Attach the 3D model instead of the green point.
          model: { uri: objectUri , minimumPixelSize: 64,},
          // Automatically compute the orientation from the position.
          orientation: new Cesium.VelocityOrientationProperty(positionProperty),
          path: new Cesium.PathGraphics({
            width: 3,
            material: Cesium.Color.SPRINGGREEN,
          }),
          name: "{{data.sat_name}} " + "   ( {{data.typeobj}} )",
          description:
            `<table class="cesium-infoBox-defaultTable"><tbody><tr><th>NORAD ID : </th> <th> {{data}}</th></tr>` +
            `<tr><th>Intldes : </th><th>{{data.intldes}}</th></tr>` +
            `<tr><th>Country : </th><th>{{data.country}}</th></tr>` +
            `<tr><th>Msg Epoch : </th><th>{{data.msg_epoch}}</th></tr>` +
            `<tr><th>Decay Epoch : </th><th>{{data.decay_epoch}}</th></tr>` +
            `<tr><th>Rcs : </th><th>{{data.rcs}}</th></tr>` +
            `<tr><th>Source : </th><th>{{data.source}}</th></tr>` +
            `</tbody></table>`,
          label: {
              text: "{{data.sat_name}}",
              font: '16pt monospace',
              style: Cesium.LabelStyle.FILL_AND_OUTLINE,
              outlineWidth: 1,
              verticalOrigin: Cesium.VerticalOrigin.BOTTOM,
              pixelOffset: new Cesium.Cartesian2(0, -50)
          }
        });
        viewer.flyTo(objectEntity).then(function(){viewer.trackedEntity = objectEntity; viewer.selectedEntity = objectEntity; });
        //$(".display-time").text(entityPosition.at(-1).ti);
      }

      loadModel();
      

      //viewer.scene.camera.lookAt(bluePin.position.getValue(viewer.clock.currentTime), new Cesium.Cartesian3(0,0,1000));
      //fly(latitude[0],longitude[0],height[0])

      function myFunction() {
        let serchObj = entityPosition.find((e) => parseInt(e.ti.secondsOfDay) == parseInt(viewer.clock.currentTime.secondsOfDay));
        console.log(parseInt(viewer.clock.currentTime.secondsOfDay));
        //$(".display-time").text(viewer.clock.currentTime);
      }
      console.log("Load Model Success");


      let int = null;
      let searchObj = null;

      function displayTimer() {
        int = setInterval(displayTimer, 1000);

        searchObj = entityPosition.find((e) => parseInt(e.ti.secondsOfDay) === parseInt(viewer.clock.currentTime.secondsOfDay));
        //console.log(searchObj)
        //console.log(searchObj)
        if(Cesium.JulianDate.greaterThan(viewer.clock.currentTime, entityPosition.at(-1).ti)){
          $(".display-status").text("( Object Dropped )")
          $(".display-height").text("0 km.")
          $(".display-lat").text(entityPosition.at(-1).lat)
          $(".display-long").text(entityPosition.at(-1).long)
          $(".display-velocity").text("0 km/s")
        }
        else{
          $(".display-height").text( searchObj.alt + " km.")
          $(".display-lat").text( searchObj.lat)
          $(".display-long").text( searchObj.long)
          $(".display-velocity").text( searchObj.velocity.toFixed(2) + " km/s")
        }
        
        //console.log(  )
        const date = new Date(viewer.clock.currentTime)
        //const dateformat = date.toLocaleString('en-US',{ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' ,timezone: 'UTC',  })
        const dateformat = date.toLocaleString('en-GB',{ hour12: false ,timeZone: 'UTC',  })
        $(".display-time").text(dateformat)
        
      };

      displayTimer();
    </script>
  </body>
</html>
