<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    {% comment %}
    <link rel="stylesheet" href="{% static '/frontend/css/style.css' %}" />
    {% endcomment %}
    <title>Index</title>
  </head>

  <body>
    <div class="progressbar">
			<svg class="progressbar__svg">
				<circle cx="80" cy="80" r="70" class="progressbar__svg-circle "> </circle>
			</svg>
			<span class="progressbar__text shadow-html">HTML</span>
		</div>
    <div>

        <a href="Object-id/43090" class="button"><button class="pixel">43090</button></a>
        <a href="Object-id/37820" class="button"><button class="pixel">37820</button></a>
        <a href="Object-id/37872" class="button"><button class="pixel">37872</button></a>
        <a href="Object-id/37873" class="button"><button class="pixel">37873</button></a>
        <a href="Object-id/40619" class="button"><button class="pixel">40619</button></a>
        <a href="Object-id/48275" class="button"><button class="pixel">48275</button></a>
    </div>
  </body>
</html>
