<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% comment %}
    <link rel="stylesheet" href="{% static '/frontend/css/style.css' %}" />
    {% endcomment %}
    <title>Index</title>
  </head>
  <body>
    <div>
        <a href="Object-id/51689" class="button"><button class="pixel">51689</button></a>
        <a href="Object-id/123123" class="button"><button class="pixel">123123</button></a>
    </div>
  </body>
</html>
